@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-f2f2f2 {
  background-color: #fafafa;
}

.pointer {
  cursor:pointer;
}

.bg-white {
  background-color:#FFFFFF;
}


li.cart-product-listing img {
  max-width: 100px;
}

.cart-item-quantity {
  flex-basis: 80px;
}

.align-items-center {
  align-items: center;
}

.fs-12 {
  font-size:12px;
}

.top-20 {
  top:20px;
}

.bg-light-danger {
  background-color: #FFECEC;
}

.text-danger {
  color: #DD1B1B;
}

.top-20 {
  top:20px;
}


@media screen and (min-width:500px) {

.cart-item-price {
  flex-basis: 90px;
}

.cart-item-button {
  flex-basis: 85px;
}

.cart-product-col-1 {
  flex-basis: 50%;
  min-width: 50%;
}


}

@media screen and (max-width:500px) {
  .text-lg {
    font-size: 15px !important;
  }

  body {
    font-size:14px !important;
  }
  
  .flex-wrap-mb {
    flex-wrap:wrap;
  }

  .cart-product-col-1 {
    width: 100%;
  }
}
